<html>
    <head>
        <title>Your Table</title>
    </head>
    <body>
        <table>
            <tr>
            <% for(let i = 0; i<columns.length; i++) { %>
                <th><%= columns[i] %></th>
            <% } %>    
            </tr>
        </table>
    </body>
</html>