<html>
    <head>
        <title>Form</title>
        <script defer src="/assets/form.js"></script>
    </head>

    <body>
            <input type="number" id="number_input" placeholder="No of columns" value="">
            <button type="submit" id="number_button">Generate</button>

        <form action="/filledform" method="POST" id="table_form">
        </form>
    </body>
</html>