@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    font-family: Roboto;
    text-align: center;
}

table{
    margin: auto;
}

th, td{
    border: 1px #ddd;
    padding: 8px;
}

th{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #FF7B00;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ddd;
}

#info{
    font-size: 25px;
    font-weight: 800;
}